<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>ぐるコレ</h1>
<p>おいしいものあつめ</p>
</br>
</br>
<p>ホームページ</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
